# DEEP LEARNING

## TUẦN 3: NUMPY, PANDAS, MATPLOTLIB

----
### Pandas là một thư viện tương đối mới, được xây dựng dựa trên NumPy, và cung cấp một cách cài đặt hiệu quả cho cấu trúc dữ liệu DataFrame.

### DataFrame về bản chất là các mảng đa chiều (multidimensional arrays) có gắn nhãn hàng (row labels) và nhãn cột (column labels), đồng thời thường chứa dữ liệu không đồng nhất về kiểu (heterogeneous types) và/hoặc giá trị bị thiếu (missing data).

### Bằng việc cung cấp một giao diện lưu trữ thuận tiện cho dữ liệu có nhãn (labeled data), Pandas triển khai nhiều phép toán xử lý dữ liệu mạnh mẽ, quen thuộc với người dùng các hệ quản trị cơ sở dữ liệu (database frameworks) cũng như các chương trình bảng tính (spreadsheet programs).

### Mặc dù cấu trúc dữ liệu ndarray của NumPy cung cấp các tính năng nền tảng quan trọng, nhưng những hạn chế của nó trở nên rõ ràng khi cần sự linh hoạt cao hơn, chẳng hạn như gắn nhãn cho dữ liệu, xử lý dữ liệu bị thiếu, v.v.

### Pandas cung cấp khả năng truy cập và xử lý hiệu quả các tác vụ “data munging” (tiền xử lý, làm sạch và biến đổi dữ liệu) — những công việc chiếm phần lớn thời gian làm việc.

In [1]:
import pandas as pd

pd.__version__

'2.2.2'

## Series
-----
### Pandas Series là một mảng một chiều (one-dimensional array) có chỉ mục (index).

### Series có thể được khởi tạo từ một danh sách (list) hoặc một mảng (array) như sau:

### Tạo Series từ list

Tạo Series từ list

In [2]:
data_pd = pd.Series([0.5,0.3,1.0,2.5])
data_pd

0    0.5
1    0.3
2    1.0
3    2.5
dtype: float64

Tạo Series từ Numpy array

In [3]:
import numpy as np
numpy_arr = np.arange(5)
data_pd = pd.Series(numpy_arr)
data_pd

0    0
1    1
2    2
3    3
4    4
dtype: int64

Attributes

In [4]:
data_pd.values

array([0, 1, 2, 3, 4])

In [5]:
data_pd.index

RangeIndex(start=0, stop=5, step=1)

Indexing

In [6]:
data_pd[1]

np.int64(1)

In [7]:
data_pd[-2:]

3    3
4    4
dtype: int64

Letter indexing

In [8]:
data_pd[-1] # => không có chỉ số index là -1

KeyError: -1

Letter indexing

In [9]:
# chỉ số nguyên khó dùng => thử đổi sang chữ cái
data_pd  = pd.Series([1.25,2.0,0.75,1.0],index = ['a','b','c','d'])
data_pd

a    1.25
b    2.00
c    0.75
d    1.00
dtype: float64

In [10]:
data_pd[-1]

C:\Users\T.Hung\AppData\Local\Temp\ipykernel_7088\1254736883.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data_pd[-1]

np.float64(1.0)

In [11]:
data_pd['b']

np.float64(2.0)

Combine Indexing

In [12]:
index = ['a','b','c','d',3]
data_pd = pd.Series(numpy_arr, index=index)

In [13]:
data_pd['a']

np.int64(0)

In [14]:
data_pd[3]

np.int64(4)

Pandas and dictionary

In [15]:
# Hệ thống chỉ mục của pandas có cấu trúc tương tự ditionary
# => Việc tạo 1 đối tượng pandas từ Ditionary là điều hoàn toàn dễ hiểu
some_population_dict = {'SaiGon': 59,
                        'Đồng Nai': 60,
                        'Bình Thuận': 86,
                        'Hà Nội': 29
                        }
data_pd = pd.Series(some_population_dict)
data_pd['SaiGon']

np.int64(59)

In [16]:
# Pandas cũng hỗ trợ clising
# Lưu ý: slising theo index label là "bao gồm cả các điểm kết thúc"
data_pd['SaiGon':'Hà Nội']

SaiGon        59
Đồng Nai      60
Bình Thuận    86
Hà Nội        29
dtype: int64

pandas and scalar

In [17]:
# dữ liệu có thể là 1 giá trị vô hướng (saclar)
# và giá trị này sẽ được lặp lại để điền vào taonf bộ index đã được chỉ định
data_pd = pd.Series(5, index=[2,3,8])
data_pd

2    5
3    5
8    5
dtype: int64

## DataFrame 
---
### DataFrame tương tự mảng 2 chiều, với index hàng và tên cột linh hoạt; về bản chất là tập hợp các Series được căn chỉnh theo index.

Tạo DataFrame với 2 dict

In [20]:
some_population_dict = {'SaiGon': 59,
                        'Đồng Nai': 60,
                        'Bình Thuận': 86,
                        'Hà Nội': 29}

some_area_dict = {'SaiGon': 51,
                        'Đồng Nai': 600,
                        'Bình Thuận': 8686,
                        'Hà Nội': 33,
                        'Vũng Tàu': 72}

state = pd.DataFrame({"population": some_population_dict, 
                     "area": some_area_dict})
state

            population  area
SaiGon            59.0    51
Đồng Nai          60.0   600
Bình Thuận        86.0  8686
Hà Nội            29.0    33
Vũng Tàu           NaN    72

Indexing

In [21]:
state["SaiGon" : "Hà Nội"]

            population  area
SaiGon            59.0    51
Đồng Nai          60.0   600
Bình Thuận        86.0  8686
Hà Nội            29.0    33

In [22]:
state["SaiGon" : "Hà Nội"]["population"]

SaiGon        59.0
Đồng Nai      60.0
Bình Thuận    86.0
Hà Nội        29.0
Name: population, dtype: float64

In [23]:
state["population"]["SaiGon" : "Hà Nội"] #=> thứ thự không quan trọng

SaiGon        59.0
Đồng Nai      60.0
Bình Thuận    86.0
Hà Nội        29.0
Name: population, dtype: float64

In [24]:
state["population"]["SaiGon" : "Hà Nội"]["area"] # cột area không tồn tại

KeyError: 'area'

In [25]:
state["area"]

SaiGon          51
Đồng Nai       600
Bình Thuận    8686
Hà Nội          33
Vũng Tàu        72
Name: area, dtype: int64

In [ ]:
state[:]["area"]

SaiGon          51
Đồng Nai       600
Bình Thuận    8686
Hà Nội          33
Vũng Tàu        72
Name: area, dtype: int64

Attribues

In [ ]:
state.index

Index(['SaiGon', 'Đồng Nai', 'Bình Thuận', 'Hà Nội', 'Vũng Tàu'], dtype='object')

In [ ]:
state.index[-1]

'Vũng Tàu'

In [ ]:
state.columns

Index(['population', 'area'], dtype='object')

In [ ]:
state.columns[0:1]

Index(['population'], dtype='object')

Series indexing/slicing/fancy/Indexing

In [ ]:
import pandas as pd

data = pd.Series([0.75,0.5,1.0,2.0], 
                 index = ['a','b','c','d'])
data

a    0.75
b    0.50
c    1.00
d    2.00
dtype: float64

In [ ]:
data['b']

np.float64(0.5)

In [ ]:
data[-1]

C:\Users\T.Hung\AppData\Local\Temp\ipykernel_24016\4056024912.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data[-1]

np.float64(2.0)

In [ ]:
data['a':'c']

a    0.75
b    0.50
c    1.00
dtype: float64

In [ ]:
data[0:2]

a    0.75
b    0.50
dtype: float64

Adding Values

In [ ]:
data['e'] = 10
data

a     0.75
b     0.50
c     1.00
d     2.00
e    10.00
dtype: float64

In

In [ ]:
'a' in data

True

In [ ]:
'f' in data

False

keys()

In [ ]:
data.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

item()

In [ ]:
list(data.items())

[('a', 0.75), ('b', 0.5), ('c', 1.0), ('d', 2.0), ('e', 10.0)]

values()

In [ ]:
data.values

array([ 0.75,  0.5 ,  1.  ,  2.  , 10.  ])

masking

In [ ]:
data[(data>0.5) & (data < 10)]

a    0.75
c    1.00
d    2.00
dtype: float64

fancy indexing

In [ ]:
data[['a','e']]

a     0.75
e    10.00
dtype: float64

### iloc vs. loc

In [ ]:
# some precaution on the possible confusion if you use explicit integer index
# use explicit index when indexing
data = pd.Series(['a', 'b', 'c'], index=(1, 3, 5))
print("Data[1]: ", data[1])

# use implicit index when slicing
print("Data[1:3]: \n", data[1:3])

# due to this possible confusion due to explicit integer index, pandas
# provide loc and iloc
# loc uses explicit index
print("Data loc [1]: ", data.loc[1])
print("Data loc [1:3]: \n", data.loc[1:3])  # include 3 as well

#iloc uses implicit index
print("Data iloc [1]: ", data.iloc[1])
print("Data iloc [1:3]: \n", data.iloc[1:3])  # does not include 3

# always use iloc for implicit index, for no unnecessary confusion!

Data[1]:  a
Data[1:3]:
 3    b
5    c
dtype: object
Data loc [1]:  a
Data loc [1:3]:
 1    a
3    b
dtype: object
Data iloc [1]:  b
Data iloc [1:3]:
 3    b
5    c
dtype: object

## DataFrame indexing/slicing/fancy Indexing

In [ ]:
some_population_dict = {'Sai Gon': 11111, 
                        'Vung Tau': 22222,
                        'Phan Thiet': 33333,
                        'Vinh Long': 44444}
some_area_dict = {'Sai Gon': 99999, 
                'Vung Tau': 88888,
                'Phan Thiet': 77777,
                'Vinh Long': 66666,
                 'Ben Tre': 33333}
data = pd.DataFrame({'pop': some_population_dict,
                       'area': some_area_dict})

print("==data==")
print(data)

==data==
                pop   area
Sai Gon     11111.0  99999
Vung Tau    22222.0  88888
Phan Thiet  33333.0  77777
Vinh Long   44444.0  66666
Ben Tre         NaN  33333

### dictionary style access

In [ ]:
print("==Area==")
print(data['area'])

==Area==
Sai Gon       99999
Vung Tau      88888
Phan Thiet    77777
Vinh Long     66666
Ben Tre       33333
Name: area, dtype: int64

### attribute style access

In [ ]:
#chúng ta cũng có thể sử dụng kiểu thuộc tính
print("=Area using attributes==")
print(data.area)
print("Data area is same: ", data.area is data['area'])

=Area using attributes==
Sai Gon       99999
Vung Tau      88888
Phan Thiet    77777
Vinh Long     66666
Ben Tre       33333
Name: area, dtype: int64
Data area is same:  True

### attribute style does not always work

In [ ]:
# Tuy nhiên!!, hãy nhớ rằng kiểu thuộc tính không phải lúc nào cũng hoạt động
# ví dụ, pop là một phương thức, do đó data.pop sẽ trỏ đến một phương thức nào đó thay vì pop.
print("==Do not use .pop!==")
print("Some pop method:", data.pop)
print("Data pop not the same: ", data.pop is data['pop'])

==Do not use .pop!==
Some pop method: <bound method DataFrame.pop of                 pop   area
Sai Gon     11111.0  99999
Vung Tau    22222.0  88888
Phan Thiet  33333.0  77777
Vinh Long   44444.0  66666
Ben Tre         NaN  33333>
Data pop not the same:  False

### Feature engineering

In [ ]:
print("==Feature engineering with density==")
data['density'] = data['pop'] / data['area']
print(data)

==Feature engineering with density==
                pop   area   density
Sai Gon     11111.0  99999  0.111111
Vung Tau    22222.0  88888  0.250000
Phan Thiet  33333.0  77777  0.428571
Vinh Long   44444.0  66666  0.666667
Ben Tre         NaN  33333       NaN

### iloc and loc

In [ ]:
# Chúng ta không thể sử dụng data[0] vì chúng ta không có chỉ mục rõ ràng nào được gọi là 0, hãy sử dụng iloc thay thế
print("==First row using iloc==")
print(data.iloc[0])

==First row using iloc==
pop        11111.000000
area       99999.000000
density        0.111111
Name: Sai Gon, dtype: float64

In [ ]:
print("==First three rows, first two columns using iloc==")
print(data.iloc[:3, :2])

==First three rows, first two columns using iloc==
                pop   area
Sai Gon     11111.0  99999
Vung Tau    22222.0  88888
Phan Thiet  33333.0  77777

In [ ]:
# sử dụng loc để chỉ mục rõ ràng
print("==Use loc for explicit index==")
print(data.loc[:'Sai Gon', :'pop'])

==Use loc for explicit index==
             pop
Sai Gon  11111.0

In [ ]:
# Có thể kết hợp bằng cách nối chuỗi
print("==chain iloc and loc==")
print(data.loc[:'Sai Gon'].iloc[:, :2])

==chain iloc and loc==
             pop   area
Sai Gon  11111.0  99999

#### masking + fancy

In [ ]:
print("==masking + fancy==")
print(data.loc[data.density > 20, ['pop', 'density']])

==masking + fancy==
Empty DataFrame
Columns: [pop, density]
Index: []

### Indexing vs. slicing

In [ ]:
### Một số quy ước rất quan trọng cần ghi nhớ
#1. Chỉ mục đề cập đến các cột, trong khi cắt lát đề cập đến các hàng
print("==Indexing refer to columns==")
print(data['pop'])


print("==Slicing refer to rows==")
print(data['Vung Tau': 'Phan Thiet']) 


print("==Slicing can also use implicit integers==")
print(data[1:3])  #không bao gồm 3

print("==masking are done row-wise==")
print(data[data.density > 20])

==Indexing refer to columns==
Sai Gon       11111.0
Vung Tau      22222.0
Phan Thiet    33333.0
Vinh Long     44444.0
Ben Tre           NaN
Name: pop, dtype: float64
==Slicing refer to rows==
                pop   area   density
Vung Tau    22222.0  88888  0.250000
Phan Thiet  33333.0  77777  0.428571
==Slicing can also use implicit integers==
                pop   area   density
Vung Tau    22222.0  88888  0.250000
Phan Thiet  33333.0  77777  0.428571
==masking are done row-wise==
Empty DataFrame
Columns: [pop, area, density]
Index: []

## Broadcasting

In [ ]:
import pandas as pd
import numpy as np

rng = np.random.RandomState(42)
df  = pd.DataFrame(rng.randint(0, 10, (3, 4)), 
                 columns = ['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  3  7  4
1  6  9  2  6
2  7  4  3  7

### Basic broadcasting

In [ ]:
df_new = np.sin(df * np.pi / 4) 
df_new

          A             B         C             D
0 -1.000000  7.071068e-01 -0.707107  1.224647e-16
1 -1.000000  7.071068e-01  1.000000 -1.000000e+00
2 -0.707107  1.224647e-16  0.707107 -7.071068e-01

### Index alignment

In [ ]:
area = pd.Series({'Alaska': 111, 'Texas': 222,
                 'California': 333}, name = 'area')
population = pd.Series({'California' : 999, 'Texas': 888,
                       'New York': 777}, name = 'population')

#bất kỳ giá trị nào bị thiếu sẽ được thay thế bằng NaN.
print("==population / area==")
print(population / area)

==population / area==
Alaska        NaN
California    3.0
New York      NaN
Texas         4.0
dtype: float64

In [ ]:
#similarly
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
print("==A + B==")
print(A + B)

==A + B==
0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [ ]:
#we can use fill_value params in pd.add(pd)
print("==A.add(B, fill_value=0)==")  #any missing Nan values will be replaced with 0
print(A.add(B, fill_value = 0))

==A.add(B, fill_value=0)==
0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

### Dataframe and series

In [ ]:
#Thao tác giữa dataframe và series
#Thao tác phổ biến là tìm hiệu của toàn bộ dataframe với một hàng hoặc một cột
A  = rng.randint(10, size = (3, 4))
df = pd.DataFrame(A, columns=list('QRST'))
print("df")
print(df)

df
   Q  R  S  T
0  7  2  5  4
1  1  7  5  1
2  4  0  9  5

In [ ]:
print("==df-df.iloc[0]==")
print(df - df.iloc[0])

==df-df.iloc[0]==
   Q  R  S  T
0  0  0  0  0
1 -6  5  0 -3
2 -3 -2  4  1

In [ ]:
print("==column-wise==")
print(df.subtract(df['R'], axis=0))

==column-wise==
   Q  R  S  T
0  5  0  3  2
1 -6  0 -2 -6
2  4  0  9  5

## Bài tập 1:
Tải file CSV howlongwelive.csv trong thư mục data vào một DataFrame. Có thể lấy từ kaggle

1. In ra 2 dòng đầu tiên và 2 dòng cuối cùng của DataFrame.

2. In ra kích thước (shape) của DataFrame.

3. In ra tên các đặc trưng (các cột) của DataFrame.

4. In ra bảng thống kê mô tả bằng hàm .describe().

5. Vì cột Hepatitis B có rất nhiều giá trị thiếu (NaN) và có mức tương quan cao với Diphtheria, hãy xóa cột Hepatitis B.
Đồng thời xóa cột Population do có quá nhiều giá trị NaN.

6. Chuyển đổi cột Status sang dạng số:

    0 cho Developing

    1 cho Developed

7. Đổi tên cột thinness 1-19 years thành thinness 10-19 years.

8. Lấy tất cả các cột ngoại trừ Life Expectancy, chuyển sang mảng NumPy và lưu vào biến X.

9. Lấy cột Life Expectancy, chuyển sang mảng NumPy và lưu vào biến y.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('howlongwelive.csv')
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

1. In ra 2 dòng đầu tiên và 2 dòng cuối cùng của DataFrame.

In [ ]:
df.head(2)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0

In [ ]:
df.tail(2)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.0,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.0,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

2. In ra kích thước (shape) của DataFrame.

In [ ]:
df.shape

(2938, 22)

3. In ra tên các đặc trưng (các cột) của DataFrame.

In [ ]:
df.columns.tolist()

['Country',
 'Year',
 'Status',
 'Life expectancy ',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'percentage expenditure',
 'Hepatitis B',
 'Measles ',
 ' BMI ',
 'under-five deaths ',
 'Polio',
 'Total expenditure',
 'Diphtheria ',
 ' HIV/AIDS',
 'GDP',
 'Population',
 ' thinness  1-19 years',
 ' thinness 5-9 years',
 'Income composition of resources',
 'Schooling']

4. In ra bảng thống kê mô tả bằng hàm .describe().

In [ ]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

5. Vì cột Hepatitis B có rất nhiều giá trị thiếu (NaN) và có mức tương quan cao với Diphtheria, hãy xóa cột Hepatitis B.
Đồng thời xóa cột Population do có quá nhiều giá trị NaN.

In [ ]:
df.drop(['Hepatitis B', 'Population'], axis=1, inplace=True)
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,1483,25.5,39,78.0,7.10,78.0,43.5,547.358878,11.0,11.2,0.434,9.8

6. Chuyển đổi cột Status sang dạng số:

    0 cho Developing

    1 cho Developed

In [ ]:
df['Status'] = df['Status'].map({'Developing': 0, 'Developed': 1})
df.head(120)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,0,65.0,263.0,62,0.01,71.279624,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,17.2,17.3,0.479,10.1
1,Afghanistan,2014,0,59.9,271.0,64,0.01,73.523582,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,17.5,17.5,0.476,10.0
2,Afghanistan,2013,0,59.9,268.0,66,0.01,73.219243,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,17.7,17.7,0.470,9.9
3,Afghanistan,2012,0,59.5,272.0,69,0.01,78.184215,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,17.9,18.0,0.463,9.8
4,Afghanistan,2011,0,59.2,275.0,71,0.01,7.097109,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Australia,2012,1,82.3,61.0,1,10.03,11714.998580,199,65.0,1,92.0,9.36,92.0,0.1,67677.634770,0.6,0.6,0.930,20.1
116,Australia,2011,1,82.0,63.0,1,10.30,10986.265270,190,64.4,1,92.0,9.20,92.0,0.1,62245.129000,0.6,0.6,0.927,19.8
117,Australia,2010,1,81.9,64.0,1,10.52,8875.786493,70,63.9,1,92.0,9.20,92.0,0.1,51874.848000,0.7,0.6,0.927,19.5
118,Australia,2009,1,81.7,66.0,1,10.62,7172.275229,104,63.4,1,92.0,9.50,92.0,0.1,42742.998980,0.7,0.6,0.925,19.1
119,Australia,2008,1,81.3,66.0,1,10.76,8547.292357,65,62.9,1,92.0,8.78,92.0,0.1,49664.685400,0.7,0.6,0.921,19.1

7. Đổi tên cột thinness 1-19 years thành thinness 10-19 years.

In [ ]:
df.rename(columns={' thinness  1-19 years': 'thinness 10-19 years'}, inplace=True)
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,thinness 10-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,0,65.0,263.0,62,0.01,71.279624,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,17.2,17.3,0.479,10.1
1,Afghanistan,2014,0,59.9,271.0,64,0.01,73.523582,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,17.5,17.5,0.476,10.0
2,Afghanistan,2013,0,59.9,268.0,66,0.01,73.219243,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,17.7,17.7,0.470,9.9
3,Afghanistan,2012,0,59.5,272.0,69,0.01,78.184215,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,17.9,18.0,0.463,9.8
4,Afghanistan,2011,0,59.2,275.0,71,0.01,7.097109,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,0,44.3,723.0,27,4.36,0.000000,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,0,44.5,715.0,26,4.06,0.000000,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,0,44.8,73.0,25,4.43,0.000000,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,0,45.3,686.0,25,1.72,0.000000,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,0,46.0,665.0,24,1.68,0.000000,1483,25.5,39,78.0,7.10,78.0,43.5,547.358878,11.0,11.2,0.434,9.8

8. Lấy tất cả các cột ngoại trừ Life Expectancy, chuyển sang mảng NumPy và lưu vào biến X.

In [ ]:
X = df.drop('Life expectancy ', axis=1).values
X

array([['Afghanistan', 2015, 0, ..., 17.3, 0.479, 10.1],
       ['Afghanistan', 2014, 0, ..., 17.5, 0.476, 10.0],
       ['Afghanistan', 2013, 0, ..., 17.7, 0.47, 9.9],
       ...,
       ['Zimbabwe', 2002, 0, ..., 1.3, 0.427, 10.0],
       ['Zimbabwe', 2001, 0, ..., 1.7, 0.427, 9.8],
       ['Zimbabwe', 2000, 0, ..., 11.2, 0.434, 9.8]],
      shape=(2938, 19), dtype=object)

9. Lấy cột Life Expectancy, chuyển sang mảng NumPy và lưu vào biến y.

In [ ]:
y = df['Life expectancy '].values
y

array([65. , 59.9, 59.9, ..., 44.8, 45.3, 46. ], shape=(2938,))

In [ ]:
print(df.columns)

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Measles ',
       ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'thinness 10-19 years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

## Handling missing data

### np.nan

In [ ]:
print("Type of np.nan: ", type(np.nan))
print("Np nan - 1:", np.nan - 1) #Mọi thao tác với NaN đều là NaN

Type of np.nan:  <class 'float'>
Np nan - 1: nan

In [ ]:
vals2 = np.array([1, np.nan, 3, 4])
print("Sum: ", vals2.sum())
print("Nansum:",np.nansum(vals2))
print("Nanmin:",np.nanmin(vals2))
print("Nanmax:",np.nanmax(vals2))

Sum:  nan
Nansum: 8.0
Nanmin: 1.0
Nanmax: 4.0

In [ ]:
dfs = pd.Series([1, None, np.nan])
print("Pandas automatically convert None to nans")
print(dfs)

Pandas automatically convert None to nans
0    1.0
1    NaN
2    NaN
dtype: float64

In [ ]:
dfs = pd.Series(["Hello", None, np.nan])
print("Pandas do not, since String is object")
print(dfs)

Pandas do not, since String is object
0    Hello
1     None
2      NaN
dtype: object

In [ ]:
dfs = pd.Series([True, None, np.nan])
print("Pandas do not, cast Boolean to object")
print(dfs)

Pandas do not, cast Boolean to object
0    True
1    None
2     NaN
dtype: object

### isnull()

In [ ]:
dfs = pd.Series([1, np.nan, "hello", None])
print("Is null: ", dfs.isnull())

Is null:  0    False
1     True
2    False
3     True
dtype: bool

### not null

In [ ]:
print("==Only data not null==")
print(dfs[dfs.notnull()])

==Only data not null==
0        1
2    hello
dtype: object

### dropna()

In [ ]:
print("==Drop all na==")
print(dfs.dropna())  #Điều này không đúng!
print(dfs)  #Điều này sẽ khôi phục lại bản sao cũ

==Drop all na==
0        1
2    hello
dtype: object
0        1
1      NaN
2    hello
3     None
dtype: object

In [ ]:
#xóa các cột có giá trị na, sử dụng axis = 1
df = pd.DataFrame([[1, np.nan, 2],
                  [2, 3, 5],
                  [np.nan, 4, np.nan],
                  [4, np.nan, np.nan]])

print(df.dropna(axis=1))  #mặc định là  axis = 0

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [ ]:
df[3] = np.nan  #create new column
print(df.dropna(axis=1, how="all"))

     0    1    2
0  1.0  NaN  2.0
1  2.0  3.0  5.0
2  NaN  4.0  NaN
3  4.0  NaN  NaN

### fillna()

In [ ]:
# Hầu hết các trường hợp, nếu có giá trị bị thiếu, tốt nhất là
# nên bỏ qua chúng. Điều này trái ngược với nhiều quan điểm.
# Tuy nhiên, trường hợp là:
# Khi bạn thay thế giá trị bị thiếu bằng giá trị trung bình, bạn sẽ làm giảm phương sai
# Khi bạn thay thế bằng giá trị trung vị, bạn cũng làm giảm phương sai
# Khi bạn thay thế bằng một giá trị nào đó, bạn sẽ tạo ra nhiễu
# Nhưng trước tiên, hãy xem cách thay thế giá trị

print("==Fill na with 0==")
print(df.fillna(0))  #Chưa đặt đúng chỗ, nenen bị nhắc nhở

print("==Fill all na with mean==")
print(df.fillna(df.mean()))

print("replace df.mean() for col 1 with in place")
df[1].fillna(df[1].mean(), inplace=True)  #this is in place!
print(df)

print("==Interpolate==")
print(df.interpolate(method='values'))

==Fill na with 0==
     0    1    2    3
0  1.0  0.0  2.0  0.0
1  2.0  3.0  5.0  0.0
2  0.0  4.0  0.0  0.0
3  4.0  0.0  0.0  0.0
==Fill all na with mean==
          0    1    2   3
0  1.000000  3.5  2.0 NaN
1  2.000000  3.0  5.0 NaN
2  2.333333  4.0  3.5 NaN
3  4.000000  3.5  3.5 NaN
replace df.mean() for col 1 with in place
     0    1    2   3
0  1.0  3.5  2.0 NaN
1  2.0  3.0  5.0 NaN
2  NaN  4.0  NaN NaN
3  4.0  3.5  NaN NaN
==Interpolate==
     0    1    2   3
0  1.0  3.5  2.0 NaN
1  2.0  3.0  5.0 NaN
2  3.0  4.0  5.0 NaN
3  4.0  3.5  5.0 NaN

C:\Users\T.Hung\AppData\Local\Temp\ipykernel_24016\1595569945.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[1].fillna(df[1].mean(), inplace=True)  #this is in place!

### Dataframe concatenation

In [ ]:
data_numpy    = np.random.rand(3, 2)  #shape 3, 2
index         = ['Bangkok', 'Chiangmai', 'Samut Prakan']
columns       = ['Population', 'Area']
pd_from_numpy = pd.DataFrame(data_numpy, index=index, columns=columns)
print("==First dataframe==")
print(pd_from_numpy)

data_numpy2    = np.random.rand(4, 3)
index2         = ['Bangkok', 'Chiangmai', 'Samut Prakan', 'Pathum Thani']
columns2       = ['HDI', 'Temperature', 'GDP']
pd_from_numpy2 = pd.DataFrame(data_numpy2, index=index2, columns=columns2)
print("==Second dataframe==")
print(pd_from_numpy2)

# Bạn có thấy điều gì kỳ lạ không, chỉ mục bị trùng lặp!
# Điều này là do pandas giữ nguyên chỉ mục!
# Tuy nhiên, các cột không bị trùng lặp...như bạn thấy đấy
print("==Normal concat along axis 1==")
print(pd.concat([pd_from_numpy, pd_from_numpy2], axis=1)) # default join='outer' # Trong trường hợp này, nó có nghĩa là Full outer join

==First dataframe==
              Population      Area
Bangkok         0.879303  0.261648
Chiangmai       0.358727  0.020645
Samut Prakan    0.446675  0.102114
==Second dataframe==
                   HDI  Temperature       GDP
Bangkok       0.649263     0.008290  0.862466
Chiangmai     0.223062     0.870257  0.569822
Samut Prakan  0.271512     0.326417  0.617225
Pathum Thani  0.971280     0.058830  0.438546
==Normal concat along axis 1==
              Population      Area       HDI  Temperature       GDP
Bangkok         0.879303  0.261648  0.649263     0.008290  0.862466
Chiangmai       0.358727  0.020645  0.223062     0.870257  0.569822
Samut Prakan    0.446675  0.102114  0.271512     0.326417  0.617225
Pathum Thani         NaN       NaN  0.971280     0.058830  0.438546

### Join inner

In [ ]:
print("==Concat with join inner==")
print(pd.concat([pd_from_numpy, pd_from_numpy2], axis=1, join='inner'))

==Concat with join inner==
              Population      Area       HDI  Temperature       GDP
Bangkok         0.879303  0.261648  0.649263     0.008290  0.862466
Chiangmai       0.358727  0.020645  0.223062     0.870257  0.569822
Samut Prakan    0.446675  0.102114  0.271512     0.326417  0.617225

## Merging Datasets with ID

In [ ]:
left = pd.DataFrame({'ID': ['001', '002', '003', '005'],
                      'DS': ['B', 'B', 'B', 'C+'],
                      'SAD': ['A', 'B', 'C+', 'F']})
left

    ID  DS SAD
0  001   B   A
1  002   B   B
2  003   B  C+
3  005  C+   F

In [ ]:
right = pd.DataFrame({'ID': ['001', '002', '003', '004'],
                      'HCI': ['B+', 'A', 'A', 'B+'],
                      'SDQI': ['A', 'A', 'B+', 'B']})
right

    ID HCI SDQI
0  001  B+    A
1  002   A    A
2  003   A   B+
3  004  B+    B

In [ ]:
#seems like 004 is gone!  Very similar to inner join
result = pd.merge(left, right, on='ID')  #default is how=inner
result

    ID DS SAD HCI SDQI
0  001  B   A  B+    A
1  002  B   B   A    A
2  003  B  C+   A   B+

In [ ]:
#specify how=outer
result = pd.merge(left, right, on='ID', how="outer")  #default is how=inner
result

    ID   DS  SAD  HCI SDQI
0  001    B    A   B+    A
1  002    B    B    A    A
2  003    B   C+    A   B+
3  004  NaN  NaN   B+    B
4  005   C+    F  NaN  NaN

In [ ]:
#specify how=left, or right
result = pd.merge(left, right, on='ID', how="left")  #default is how=inner
result

    ID  DS SAD  HCI SDQI
0  001   B   A   B+    A
1  002   B   B    A    A
2  003   B  C+    A   B+
3  005  C+   F  NaN  NaN

## Aggregation

In [ ]:
df = pd.DataFrame([('bird', 'Falconiformes', 389.0),
                    ('bird', 'Psittaciformes', 24.0),
                    ('mammal', 'Carnivora', 80.2),
                    ('mammal', 'Primates', np.nan),
                    ('mammal', 'Carnivora', 58)],
                   index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
                   columns=('class', 'order', 'max_speed'))
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [ ]:
grouped = df.groupby('class')  #return a special view as DataFrameGroupByObject
grouped.sum()

                              order  max_speed
class
bird    FalconiformesPsittaciformes      413.0
mammal   CarnivoraPrimatesCarnivora      138.2

In [ ]:
grouped = df.groupby('order')  #return a special view as DataFrameGroupByObject
grouped.sum()

                       class  max_speed
order
Carnivora       mammalmammal      138.2
Falconiformes           bird      389.0
Primates              mammal        0.0
Psittaciformes          bird       24.0

In [ ]:
grouped = df.groupby(['class', 'order'])
grouped.sum()

                       max_speed
class  order
bird   Falconiformes       389.0
       Psittaciformes       24.0
mammal Carnivora           138.2
       Primates              0.0

In [ ]:
df.groupby(['class'])['max_speed'].median()

class
bird      206.5
mammal     69.1
Name: max_speed, dtype: float64

In [ ]:
import seaborn as sns
planets = sns.load_dataset('planets')
print("Shape: ", planets.shape)
print("First five rows: ")
print(planets.head())

print("==Built in Pandas simple aggregations==")
print(planets.mean(numeric_only=True))

# print(planets.median())
# print(planets.min())
# print(planets.max())
# print(planets.std())
# print(planets.var())
# print(planets.sum())

print("==Mean (axis=1)==")
print(planets.mean(axis=1, numeric_only=True))
print("==Describe==")
print(planets.describe())

Shape:  (1035, 6)
First five rows:
            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
==Built in Pandas simple aggregations==
number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64
==Mean (axis=1)==
0       472.160000
1       588.586800
2       559.488000
3       492.810000
4       531.238000
           ...
1030    545.735377
1031    539.653966
1032    546.297881
1033    576.531271
1034    568.296939
Length: 1035, dtype: float64
==Describe==
            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

## Bài Tập 2

1. Kiểm tra xem mỗi cột có bao nhiêu giá trị bị thiếu (missing data / NaN).

2. Xử lý tất cả dữ liệu bị thiếu bằng cách thay thế bằng giá trị trung bình (mean) của từng cột tương ứng.

3. Thực hiện groupby theo quốc gia (Country).

    - Quốc gia nào có tuổi thọ trung bình thấp nhất?

    - Quốc gia nào có tuổi thọ trung bình cao nhất?

4. Thực hiện groupby theo Status (Developed / Developing).

    - Có sự khác biệt rõ rệt nào về tuổi thọ trung bình giữa các quốc gia phát triển và đang phát triển hay không?

5. Tạo một DataFrame mới bằng tay gồm 2 cột:

    - Cột thứ nhất là ID, có giá trị giống với cột Country

    - Cột thứ hai là Noise_level, điền giá trị ngẫu nhiên (tùy ý)

6. Gộp (merge) hai DataFrame lại với nhau dựa trên cột ID.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('howlongwelive.csv')
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

1. Kiểm tra xem mỗi cột có bao nhiêu giá trị bị thiếu (missing data / NaN).

In [ ]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

2. Xử lý tất cả dữ liệu bị thiếu bằng cách thay thế bằng giá trị trung bình (mean) của từng cột tương ứng.

In [ ]:
df = df.fillna(df.mean(numeric_only=True))
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

3. Thực hiện groupby theo quốc gia (Country).

    - Quốc gia nào có tuổi thọ trung bình thấp nhất?

    - Quốc gia nào có tuổi thọ trung bình cao nhất?

In [ ]:
country = df.groupby('Country')['Life expectancy '].mean()
print("Thấp nhất:", country.idxmin(), country.min())
print("Cao nhất:", country.idxmax(), country.max())

Thấp nhất: Sierra Leone 46.1125
Cao nhất: Japan 82.5375

4. Thực hiện groupby theo Status (Developed / Developing).

    - Có sự khác biệt rõ rệt nào về tuổi thọ trung bình giữa các quốc gia phát triển và đang phát triển hay không?

In [ ]:
status = df.groupby('Status')['Life expectancy '].mean()
status

Status
Developed     79.197852
Developing    67.120177
Name: Life expectancy , dtype: float64

5. Tạo một DataFrame mới bằng tay gồm 2 cột:

    - Cột thứ nhất là ID, có giá trị giống với cột Country

    - Cột thứ hai là Noise_level, điền giá trị ngẫu nhiên (tùy ý)

In [ ]:
unique_countries = df['Country'].unique()
noise_df = pd.DataFrame({'ID': unique_countries,'Noise_level': np.random.rand(len(unique_countries))})
noise_df

                                     ID  Noise_level
0                           Afghanistan     0.535474
1                               Albania     0.683943
2                               Algeria     0.119389
3                                Angola     0.242680
4                   Antigua and Barbuda     0.820855
..                                  ...          ...
188  Venezuela (Bolivarian Republic of)     0.828762
189                            Viet Nam     0.047682
190                               Yemen     0.286353
191                              Zambia     0.231428
192                            Zimbabwe     0.432976

[193 rows x 2 columns]

6. Gộp (merge) hai DataFrame lại với nhau dựa trên cột ID.

In [ ]:
df['ID'] = df['Country']
df = pd.merge(df, noise_df, on='ID')
df[['Country', 'ID', 'Noise_level']]

          Country           ID  Noise_level
0     Afghanistan  Afghanistan     0.535474
1     Afghanistan  Afghanistan     0.535474
2     Afghanistan  Afghanistan     0.535474
3     Afghanistan  Afghanistan     0.535474
4     Afghanistan  Afghanistan     0.535474
...           ...          ...          ...
2933     Zimbabwe     Zimbabwe     0.432976
2934     Zimbabwe     Zimbabwe     0.432976
2935     Zimbabwe     Zimbabwe     0.432976
2936     Zimbabwe     Zimbabwe     0.432976
2937     Zimbabwe     Zimbabwe     0.432976

[2938 rows x 3 columns]

In [ ]:
df.to_csv('test.csv')